body {
    position: relative;
    background: radial-gradient(#E8F7FF, #30C4D3,#006C77);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
    border-radius: 20px;
    border: 2px solid whitesmoke;
    width: 100%;
    background-color: #155252;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav-links {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-links > li {
    font-size: 1.2rem;
    margin: auto 15px;
}


.nav-logo {
    display: flex;
    align-items: center;

    border-radius: 20px;
    text-decoration: none;
    background-color: #06434a;
    padding: 10px;
    margin: auto 0px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: whitesmoke;
}

.nav-logo::before {
    content: "Lapad";
    margin: auto 10px;
}

.nav-logo img {
    height: 50px;
    margin-right: 20px;
}

.bubble {
    position: absolute;
    margin: 200px 0;
    margin-left: 250px;
    max-width: 200px;
    max-height: 200px;
    animation: slide 3s ease-in-out infinite alternate;
}

h1, h2 {
    text-align: center;
}

.lapad {
    margin-left: 300px;
    position: absolute;
    animation: slide 0.3s ease-in infinite alternate;
}

.side-to-side {
    position: absolute;
    animation: side-to-side 2s ease-in-out infinite alternate;
}

.rotate {
    position: absolute;
    margin-left: 200px;
    left: 0;
    transform-origin: center;

    animation: spin  4s linear infinite;
}

@keyframes slide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes side-to-side {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}