*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    background: radial-gradient(#E8F7FF, #30C4D3,#006C77);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
    border-radius: 20px;
    border: 2px solid whitesmoke;
    width: 100%;
    background-color: #155252;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav-links {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    
}


.nav-links > li {
    font-size: 1.2rem;
    margin: auto 15px;
}

.nav-links a {
    text-decoration: none;
}

.nav-links a:visited {
    color: whitesmoke;
}

.nav-logo {
    display: flex;
    align-items: center;

    border-radius: 20px;
    text-decoration: none;
    background-color: #06434a;
    padding: 10px;
    margin: auto 0px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: whitesmoke;
}

.nav-logo::before {
    content: "Lapad";
    margin: auto 10px;
}

.nav-logo img {
    height: 50px;
    margin-right: 20px;
}

.bubble {
    position: absolute;
    margin: 200px 0;
    margin-left: 250px;
    max-width: 200px;
    max-height: 200px;
    animation: slide 3s ease-in-out infinite alternate;
}

h1, h2 {
    text-align: center;
}

.jump {
    margin-left: 300px;
    margin-bottom: 300px;
    animation: slide 0.3s ease-in infinite alternate;
}

.side-to-side {
    position: absolute;
    animation: side-to-side 2s ease-in-out infinite alternate;
}

.rotate {
    margin-left: 200px;
    left: 0;
    transform-origin: center;
    animation: spin  4s linear infinite;
}

@keyframes slide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes side-to-side {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}


.contact-form {
    max-width: 600px;
    background-color: #155252;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 1px solid #30C4D3;
    margin: 20px auto;
}

.contact-form h3 {
    padding-left: 15px;
    font-size: 1.5rem;
    color: whitesmoke;
}

form {
    padding: 10px;
}



form > * {
    color: whitesmoke;
    margin: 10px;
}

input, textarea {
    border: 1px solid #30C4D3;
    border-radius: 5px;
    background-color: #006b7799;
    padding: 10px;
    width: 96%;
}

:where(input, textarea)::placeholder {
    color: rgba(245, 245, 245, 0.575);
}

:where(input, textarea):focus {
    outline: none;
}

label {
    display: block;
    font-weight: bold;
}

.submit-btn {
    font-size: 1rem;
    padding: 10px;
    color: whitesmoke;
    background-color:#30C4D3;
    border: none;
    border-radius: 50px;
    width: 96%
}

.submit-btn:hover {
    background-color:#006C77;
}